<h1>Editing Transaction</h1>

<%= render 'form', transaction: @transaction %>

<%= link_to 'Show', wallet_transaction_path(@transaction.wallet, @transaction) %> |
<%= link_to 'Back', wallet_transactions_path %>
