<p id="notice"><%= notice %></p>

<p>
  <strong>Wallet:</strong>
  <%= @transaction.wallet_id %>
</p>

<%= link_to 'Edit', edit_wallet_transaction_path(@transaction.wallet, @transaction) %> |
<%= link_to 'Back', wallet_transactions_path %>
